<!doctype html>
<html lang=<%= lang %> >
<!-- <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"></html> xhttp sitede eklenecek -->

<head>
    <!-- SABİT META -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS,JavaScript">
    <meta name="author" content="E-exportcity">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="<%= sitedescription %> ">
    <title><%= sitetitle %> </title>

    <!-- CSS FILES -->
    <link href=" /assets/css/bootstrapCss/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />